<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>User page</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.getUsername()}">Name</td>
            <td th:text="${user.getSurname()}">Surname</td>
            <td th:text="${user.getEmail()}">Email</td>
            <td th:text="${user.getAge()}">Age</td>
        </tr>
        </tbody>
    </table>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>